.events {
  padding-top: 6rem;

  @include breakpoint-up(medium) {
    padding-top: 8rem;
  }
  @include breakpoint-up(large) {
    padding-top: 13rem;
  }

  &__text {
    @include breakpoint-down(medium) {
      max-width: 32ch;
      margin: auto;
    }
  }

  &__sticky {
    grid-column: 1/5;
    text-align: center;
    margin-bottom: 6rem;

    @include breakpoint-up(medium) {
      grid-column: 4/10;
      margin-bottom: 8rem;
    }
    @include breakpoint-up(large) {
      text-align: start;
      grid-column: 2/4;
      margin-bottom: unset;
      padding-top: 3rem;
    }

    h3 {
      position: sticky;
      top: 35vh;
      margin-bottom: unset;
      @include breakpoint-up(large) {
        max-width: 16ch;
      }
    }
  }
  &__col1,
  &__col2 {
    text-align: center;
    grid-column: 1/5;
    @include breakpoint-up(medium) {
      grid-column: 2/12;
    }
  }
  &__col1 {
    display: flex;
    flex-direction: column;
    row-gap: 8rem;

    @include breakpoint-down(medium) {
      margin-bottom: 8rem;
      row-gap: 8rem;
    }
    @include breakpoint-down(small) {
      margin-bottom: 6rem;
      row-gap: 6rem;
    }

    @include breakpoint-up(large) {
      grid-column: 5/8;
    }
  }
  &__col2 {
    align-self: center;
    @include breakpoint-up(large) {
      grid-column: 9/12;
    }
  }

  figure {
    margin-bottom: 3rem;
    max-height: 550px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  h4 {
    margin-bottom: 1.4rem;
    @include breakpoint-up(large) {
      margin-bottom: 1.6rem;
    }
  }
}
