@supports (
  background-image:
    image-set(
      url("../images/Analog-footer-background-680w.avif") 1x,
      url("../images/Analog-footer-background-680w.webp") 1x
    )
) {
  .footer {
    background-image: image-set(
      url("../images/Analog-footer-background-680w.avif") 1x,
      url("../images/Analog-footer-background-680w.webp") 1x
    );
  }
}
@supports not (
  background-image:
    image-set(
      url("../images/Analog-footer-background-680w.avif") 1x,
      url("../images/Analog-footer-background-680w.webp") 1x
    )
) {
  .footer {
    background-image: url("../images/Analog-footer-background-680w.jpeg");
  }
}
.footer {
  background-size: 300px;
  background-repeat: repeat;

  a {
    display: block;
    color: $clr-p-dark;
    text-decoration: none;
  }

  h3 {
    margin-bottom: 1.6rem;
  }

  &__col1,
  &__col2,
  &__col3 {
    grid-column: 1/5;

    @include breakpoint-up(medium) {
      grid-column: 2/12;
    }
    @include breakpoint-down(medium) {
      margin-bottom: 6rem;
    }
  }
  &__col1 {
    grid-column: 1/5;
    // TODO mere padding på mobil
    div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      p:last-child {
        padding-right: 2.8rem;
      }
    }
    @include breakpoint-up(medium) {
      grid-column: 2/8;
    }
    @include breakpoint-up(large) {
      grid-column: 2/5;
    }

    p:nth-child(5) {
      margin-top: 1.6rem;
    }
  }
  &__col2 {
    @include breakpoint-up(large) {
      grid-column: 6/8;
    }

    a {
      width: max-content;
      //TODO before-image some icons

      &:nth-of-type(3),
      &:last-of-type {
        margin-top: 1.6rem;
        &::before {
          display: inline-block;
          vertical-align: middle;
          content: " ";
          background-size: 30px 30px;
          background-position: center;
          height: 30px;
          width: 30px;
          margin-right: 2rem;
        }
      }

      &:nth-of-type(3) {
        &::before {
          background-image: url("../images/svg/facebook-dark.svg");
        }
      }
      &:last-of-type {
        &::before {
          background-image: url("../images/svg/instagram-icon-dark.svg");
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__col3 {
    @include breakpoint-up(large) {
      grid-column: 9/11;
    }
    a {
      width: max-content;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__long {
    grid-column: 1/5;

    @include breakpoint-up(medium) {
      grid-column: 2/12;
    }
    @include breakpoint-up(large) {
      margin-top: 6rem;
    }
  }
}
