.more {
  position: relative;
  padding-bottom: unset;

  &__heading {
    text-align: center;
  }
  &__heading,
  &__description {
    grid-column: 1/5;
    @include breakpoint-up(medium) {
      grid-column: 2/12;
    }
  }
  &__description {
    @include breakpoint-up(large) {
      margin-bottom: 6rem;
      grid-column: 4/10;
    }
  }

  > h2,
  > p {
    @include breakpoint-up(medium) {
      text-align: center;
    }
  }

  //TODO fix content and spans

  > figure {
    position: relative;
    grid-column: 1/5;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    &::before {
      width: 60px;
      height: 60px;
      content: "";
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $clr-p;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
      cursor: pointer;

      @include breakpoint-down(medium) {
        width: 50px;
        height: 50px;
      }
    }

    picture {
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: hsla(0, 0%, 0%, 0.45);
        cursor: pointer;
      }
    }
    img {
      width: 100%;
      height: auto;
    }

    @include breakpoint-up(medium) {
      grid-column: 2/12;
    }
    @include breakpoint-up(large) {
      grid-column: 2/7;
    }
  }

  &__content {
    grid-column: 1/5;
    margin-bottom: 3rem;

    @include breakpoint-up(medium) {
      grid-column: 2/12;
      margin-bottom: 4rem;
    }
    @include breakpoint-up(large) {
      grid-column: 8/12;
      align-self: center;
      margin-bottom: unset;

      h3 {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__divider {
    height: 30px;
    width: 100%;
    background-image: url("../images/svg/divider.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 4rem 0;
    grid-column: 1/5;
    @include breakpoint-up(medium) {
      margin: 6rem 0;
      grid-column: 2/12;
    }
  }
}
