// Colors
$clr-p: hsl(0, 0%, 96%);
$clr-heading: #d3a075;
$clr-background: #1d1917;
$clr-p-dark: #1d1917;
$clr-navbg: #292420;
$clr-section-dark: hsl(20, 12%, 10%);
$clr-facebook: hsl(214, 89%, 52%);
$clr-facebook-dark: hsl(221, 44%, 41%);

// Fonts
$text-base-fallback: 16px;
$text-base: 1.6rem;
$text-lg-fallback: 18px;
$text-lg: 1.8rem;
$text-xl-fallback: 20px;
$text-xl: 2rem;
$text-2xl-fallback: 24px;
$text-2xl: 2.4rem;
$text-3xl-fallback: 30px;
$text-3xl: 3rem;
$text-4xl-fallback: 34px;
$text-4xl: 3.4rem;
$text-5xl-fallback: 42px;
$text-5xl: 4.2rem;
$text-6xl-fallback: 80px;
$text-6xl: 8rem;
