@use "../abstracts/mixins" as *;
.gridlayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  grid-auto-flow: row;

  @include breakpoint-up(medium) {
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
  }
}

.container {
  margin: 0 auto;
  @include breakpoint-up(medium) {
    max-width: 600px;
  }
  @include breakpoint-up(large) {
    max-width: 1392px;
  }
  &--px {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include breakpoint-up(medium) {
    }
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  &--py {
    padding-bottom: 8rem;
    padding-top: 8rem;

    @include breakpoint-up(medium) {
      padding-top: 13rem;
      padding-bottom: 13rem;
    }
  }
}
