@use "../abstracts/mixins" as *;
.assortment {
  align-items: center;
  > * {
    grid-column: 1/5;
    @include breakpoint-up(medium) {
      grid-column: 2/12;
    }
  }

  &__cta {
    margin: 3rem 0 0 0;
    column-gap: 2rem;
    display: flex;
    align-self: start;
    justify-content: center;

    @include breakpoint-up(medium) {
      margin: 4rem 0 0 0;
      justify-content: start;
    }
    @include breakpoint-up(large) {
      justify-self: start;
      grid-row: 2/3;
      margin: 2rem 0 0 0;
      column-gap: 3rem;
    }
  }

  &__content {
    align-self: end;
    margin-bottom: 3rem;
    grid-row: 1/2;

    @include breakpoint-up(medium) {
      margin-bottom: 4rem;
    }
    @include breakpoint-up(large) {
      grid-column: 2/7;
      margin-bottom: unset;
    }

    h2 {
      @include breakpoint-down(medium) {
        text-align: center;
      }
    }
  }

  &__illustration {
    max-height: 550px;
    overflow: hidden;
    @include breakpoint-up(large) {
      grid-row: 1/3;
      grid-column: 8/12;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
