.about {
  color: #000;
  align-items: center;

  &__content {
    grid-column-end: span 4;
    @include breakpoint-up(medium) {
      grid-column-start: 2;
      grid-column-end: span 5;
    }

    @include breakpoint-down(small) {
      margin-bottom: 6rem;
      text-align: center;
    }
  }

  figure {
    grid-column-end: span 4;

    @include breakpoint-up(medium) {
      grid-column-start: 8;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
