.gallery {
  background-color: $clr-background;
  padding: 7rem 0;
  text-align: center;
  color: $clr-p;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__images {
    margin-top: 4rem;
    margin-bottom: 8rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint-up(medium) {
      column-count: 3;
    }
    @include breakpoint-up(large) {
      column-count: 4;
    }
  }

  figure {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }

  figure img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
  }
}
