.gallery {
  background-color: $clr-background;

  &__wrapper {
    text-align: center;
    color: $clr-p;
    display: grid;

    > * {
      justify-self: center;
      grid-column-end: span 4;

      @include breakpoint-up(medium) {
        grid-column-start: 4;
        grid-column-end: span 6;
      }

      &.btn {
        margin-top: 2.4rem;

        @include breakpoint-up(medium) {
          margin-top: 3.8rem;
        }
      }
    }
  }

  &__images {
    margin: 6rem 0;
    grid-column-end: span 4;
    background: rgb(71, 70, 70);
    //TODO replace content with images
    height: 600px;
    width: 100%;

    @include breakpoint-up(medium) {
      grid-column-start: 2;
      grid-column-end: span 10;
    }
    /*  grid-template-columns: repeat(2, 1fr);

    @include breakpoint-up(medium) {
      column-count: 3;
    }
    @include breakpoint-up(large) {
      column-count: 4;
    }
  }

  figure {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  }

  figure img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;*/
  }
}
