@font-face {
  font-family: "Calibre";
  font-weight: 600;
  font-style: normal;
  font-display: swap; /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Calibre", "Roboto", Helvetica, Arial, sans-serif),
    url("../fonts/CalibreBold.woff2") format("woff2"),
    url("../fonts/CalibreBold.woff") format("woff");
}
@viewport {
  orientation: portrait;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
* {
  font-size: 1rem;
}
p,
.footer__links a,
.footer__col2 a,
.find-us__contact a {
  line-height: 24px;
  font-size: $text-base-fallback;
  font-size: $text-base;
  //max-width: 60ch;
  //TODO max width on text might be the thing fucking shit up
}
h1,
h2,
h3,
h4 {
  font-family: "Calibre", "Roboto", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: $text-5xl-fallback;
  font-size: $text-5xl;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  color: $clr-p;
  margin-bottom: 1.6rem;

  @include breakpoint-up(medium) {
    line-height: 68px;
    //TODO undersøg linebreak
  }
  @include breakpoint-up(large) {
    font-size: $text-6xl-fallback;
    font-size: $text-6xl;
  }
}

h2 {
  font-size: $text-3xl-fallback;
  font-size: $text-3xl;
  line-height: 36px;
  //max-width: 30ch;
  margin-bottom: 1.6rem;

  @include breakpoint-up(medium) {
    line-height: 52px;
  }

  @include breakpoint-up(large) {
    font-size: $text-5xl-fallback;
    font-size: $text-5xl;
  }
}
h3 {
  font-size: $text-2xl-fallback;
  font-size: $text-2xl;
  line-height: 28px;
  margin-bottom: 1.2rem;

  @include breakpoint-up(large) {
    font-size: $text-4xl-fallback;
    font-size: $text-4xl;
    line-height: 44px;
  }
}

h4 {
  font-size: $text-xl-fallback;
  font-size: $text-xl;
  line-height: 24px;
  margin-bottom: 1.6rem;

  @include breakpoint-up(large) {
    font-size: $text-2xl-fallback;
    font-size: $text-2xl;
    line-height: 28px;
  }
}

//grid-system
.gridlayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  grid-auto-flow: row;

  @include breakpoint-up(medium) {
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
  }
}
// Spacing
.container {
  margin: 0 auto;
  @include breakpoint-up(medium) {
    max-width: 600px;
  }
  @include breakpoint-up(large) {
    max-width: 1392px;
  }
  &--px {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include breakpoint-up(medium) {
    }
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  &--py {
    padding-bottom: 8rem;
    padding-top: 8rem;

    @include breakpoint-up(medium) {
      padding-top: 13rem;
      padding-bottom: 13rem;
    }
  }
}

// Buttons
.btn {
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  outline: none;
  will-change: background color;
  transition: all 0.2s ease-in-out;
  font-size: $text-base-fallback;
  font-size: $text-base;
  justify-self: center;
  //TODO arrow color change on hover
  &--secondary {
    color: #8ab4f8;
    background: transparent;
    border: none;
    border-radius: 4px;

    span {
      //TODO undersøg bedre svar
      content: "";
      width: 13px;
      height: 13px;
      background-image: url("../images/svg/arrow.svg");
      background-repeat: no-repeat;
      background-size: 95%;
      display: inline-block;
      background-position: center right;
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      color: $clr-p;
      background: rgba(66, 63, 63, 0.8);
    }
  }
}
// Sections
.dark-section {
  background-color: $clr-section-dark;
  color: $clr-p;
}
// Animations
@keyframes arrow-down {
  0% {
    transform: translate(0, -4px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 22px);
  }
  100% {
    transform: translate(0, 24px);
    opacity: 0;
  }
}
