@supports (
  background-image:
    image-set(
      url("../images/Analog-background-image-680w.avif") 1x,
      url("../images/Analog-background-image-680w.webp") 1x
    )
) {
  .hero {
    background-image: image-set(
      url("../images/Analog-background-image-680w.avif") 1x,
      url("../images/Analog-background-image-680w.webp") 1x
    );
    @include breakpoint-up(large) {
      background-image: image-set(
        url("../images/Analog-background-image-1920w.avif") 1x,
        url("../images/Analog-background-image-1920w.webp") 1x
      );
    }
  }
}
@supports not (
  background-image:
    image-set(
      url("../images/Analog-background-image-680w.avif") 1x,
      url("../images/Analog-background-image-680w.webp") 1x
    )
) {
  .hero {
    background-image: url("../images/Analog-background-image-680w.jpeg");
    @include breakpoint-up(large) {
      background-image: url("../images/Analog-background-image-1920w.jpeg");
    }
  }
}
.hero {
  @supports (max-height: fill-available) {
    max-height: fill-available;
  }

  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsla(21, 45%, 10%, 74%);
  }

  &--menu {
    height: 45vh;
    @include breakpoint-up(large) {
      height: 65vh;
    }
  }
  &__content {
    color: $clr-p;
    z-index: 0;
    text-align: center;

    > * {
      grid-column: 1/5;
      @include breakpoint-up(medium) {
        grid-column: 2/12;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }

  &__title {
    max-width: 21ch;
  }

  &__indicator {
    position: absolute;
    display: block;
    content: "";
    width: 32px;
    height: 58px;
    bottom: 10vh;

    path {
      animation: arrow-down 1.3s ease-in-out infinite;
    }
  }
}
