.menu {
  > * {
    grid-column: 1/5;

    @include breakpoint-up(medium) {
      grid-column: 2/12;
    }
  }

  h2 {
    margin-bottom: 3rem;
    @include breakpoint-up(medium) {
      margin-bottom: 4rem;
    }
    @include breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__titlerow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;

    h4 {
      margin-bottom: unset;
    }

    figure {
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;

      @include breakpoint-up(large) {
        width: 70px;
        height: 70px;
      }
    }
  }

  &__section {
    &:nth-of-type(1) {
      figure {
        background-image: url("../images/svg/varmedrikke.svg");
      }
    }
    &:nth-of-type(2) {
      figure {
        background-image: url("../images/svg/koldedrikke.svg");
      }
    }
    &:nth-of-type(3) {
      figure {
        background-image: url("../images/svg/varmeretter.svg");
      }
    }
    &:nth-of-type(4) {
      figure {
        background-image: url("../images/svg/panini.svg");
      }
    }
    &:nth-of-type(5) {
      figure {
        background-image: url("../images/svg/soedesager.svg");
      }
    }
    @include breakpoint-up(medium) {
      grid-column: 2/6;
      &:nth-of-type(3),
      &:nth-of-type(6) {
        grid-column: 8/12;
      }
    }

    &:not(:last-child) {
      margin-bottom: 6rem;
      @include breakpoint-up(large) {
        margin-bottom: 8rem;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__divider {
    display: none;
    @include breakpoint-up(large) {
      display: block;
      grid-column: 7/8;
      width: 3px;
      height: 60%;
      background-color: $clr-p;
      margin-top: 3rem;
    }
  }
}
//TODO unset h4 margin
