.more {
  display: grid;

  > * {
    justify-self: center;
    grid-column-end: span 4;

    @include breakpoint-up(medium) {
      grid-column-start: 2;
      grid-column-end: span 10;
    }
  }

  > h2,
  > p {
    text-align: center;
  }
  &__personale {
    align-items: center;
    justify-content: space-between;
    margin: 7rem 0;
    //TODO fix content and spans

    figure {
      grid-column-end: span 4;
      @include breakpoint-up(medium) {
        grid-column-start: 2;
        grid-column-end: span 5;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  &__personalecontent {
    grid-column-end: span 4;

    @include breakpoint-up(medium) {
      grid-column-start: 8;
    }
  }

  &__sticky {
    grid-column-end: span 3;
    grid-column-start: 2;

    h2 {
      position: sticky;
      top: 40vh;
    }
  }
}
