.more {
  display: grid;

  > * {
    justify-self: center;
    grid-column-end: span 4;

    @include breakpoint-up(medium) {
      grid-column-start: 2;
      grid-column-end: span 10;
    }
  }

  > h2,
  > p {
    @include breakpoint-up(medium) {
      text-align: center;
    }
  }
  &__personale {
    align-items: center;
    justify-content: space-between;
    margin: 8rem 0;

    @include breakpoint-down(small) {
      grid-template-rows: auto auto;
      margin: 6rem 0;
    }
    //TODO fix content and spans

    figure {
      grid-column: 1/5;

      img {
        width: 100%;
        height: auto;
      }

      @include breakpoint-up(medium) {
        grid-column: 1/-1;
      }
      @include breakpoint-up(large) {
        grid-column: 1/7;
      }
    }
  }

  &__personalecontent {
    grid-column: 1/5;
    grid-row: 1/2;

    @include breakpoint-up(medium) {
      grid-column: 1/-1;
    }

    @include breakpoint-up(large) {
      grid-column: 8/13;
    }

    h3 {
      margin-bottom: 2.4rem;

      @include breakpoint-up(large) {
        margin-bottom: 1.6rem;
      }
    }

    @include breakpoint-down(large) {
      margin-bottom: 6rem;
    }
  }

  &__sticky {
    grid-column: 1/5;
    @include breakpoint-down(medium) {
      grid-column: 1/-1;
      text-align: center;
    }

    h3 {
      position: sticky;
      top: 40vh;
    }
  }

  &__events {
    background: grey;
    height: 3000px;
    grid-column: 1/-1;

    @include breakpoint-up(large) {
      grid-column: 5/12;
    }
  }

  &__divider {
    height: 30px;
    width: 100%;
    //background-image: url("../images/divider.svg");
  }

  /* &__eventscol1 {
    background-color: ;
  }*/
}
