@font-face {
  font-family: "Calibre";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  /* Read next point */
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("Calibre", "Roboto", Helvetica, Arial, sans-serif), url(../fonts/CalibreBold.woff2?737fcaccf0c2fadb8f7b75d52304d4fb) format("woff2"), url(../fonts/CalibreBold.woff?1ff2e8461fe767ef7552b41a151a985c) format("woff");
}
@-ms-viewport {
  orientation: portrait;
}
@-o-viewport {
  orientation: portrait;
}
@viewport {
  orientation: portrait;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  font-size: 1rem;
}

p,
.footer__links a {
  line-height: 24px;
  font-size: 16px;
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  font-family: "Calibre", "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 44px;
  text-align: center;
  color: #fff1cc;
  margin-bottom: 1.6rem;
}
@media (min-width: 40em) {
  h1 {
    line-height: 60px;
  }
}
@media (min-width: 64em) {
  h1 {
    font-size: 80px;
    font-size: 8rem;
  }
}

h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 36px;
  margin-bottom: 1.6rem;
}
@media (min-width: 40em) {
  h2 {
    line-height: 52px;
  }
}
@media (min-width: 64em) {
  h2 {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 60px;
  }
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 28px;
  margin-bottom: 1.2rem;
}
@media (min-width: 64em) {
  h3 {
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 44px;
  }
}

h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  margin-bottom: 1.6rem;
}
@media (min-width: 64em) {
  h4 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
  }
}

.gridlayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  grid-auto-flow: row;
}
@media (min-width: 40em) {
  .gridlayout {
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
  }
}

.container {
  margin: 0 auto;
}
@media (min-width: 40em) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 64em) {
  .container {
    max-width: 1392px;
  }
}
.container--px {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.container--py {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
@media (min-width: 40em) {
  .container--py {
    padding-top: 13rem;
    padding-bottom: 13rem;
  }
}

.btn {
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  outline: none;
  will-change: background color;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  font-size: 1.6rem;
}
.btn--secondary {
  justify-self: unset;
  color: #8ab4f8;
  background: transparent;
  border: none;
  border-radius: 4px;
}
.btn--secondary span {
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(../images/arrow.svg?aabf025c447e8363167969608fc66cde);
  background-repeat: no-repeat;
  background-size: 95%;
  display: inline-block;
  background-position: center right;
  display: inline-block;
  vertical-align: middle;
}
.btn--secondary:hover {
  color: #f7f7f7;
  background: rgba(66, 63, 63, 0.8);
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  will-change: background;
}
@media (min-width: 64em) {
  .header {
    position: absolute;
  }
}
.header__wrapper {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .header__wrapper {
    grid-column: 2/12;
  }
}
.header nav {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 64em) {
  .header nav {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
.header__logo {
  grid-column: 1/3;
  display: block;
  width: 160px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/logo.svg?13ecfcb8d9797497cba0f5a6dd46546f);
}
@media (min-width: 64em) {
  .header__logo {
    width: 142px;
    height: 44px;
  }
}
.header__some {
  display: flex;
  grid-column: 10/12;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  justify-self: end;
}
.header__some a {
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0.9;
}
.header__some img {
  width: 100%;
  height: auto;
  display: block;
}
.header__toggle {
  grid-column: 4/5;
  display: grid;
  place-content: center;
  height: 24px;
  justify-content: end;
  align-items: center;
  justify-self: end;
}
@media (min-width: 40em) {
  .header__toggle {
    grid-column: 10/12;
  }
}
.header__toggle span,
.header__toggle > span::before,
.header__toggle > span::after {
  display: block;
  width: 26px;
  height: 3px;
  background-color: white;
  transition: all 0.2 ease-in-out;
}
.header__toggle span {
  position: relative;
  will-change: opacity;
}
.header__toggle span::before, .header__toggle span::after {
  content: "";
  position: absolute;
  will-change: transform;
}
.header__toggle span::before {
  top: -8px;
}
.header__toggle span::after {
  top: 8px;
}
.header__menu {
  display: grid;
  align-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background: #292420;
  position: absolute;
  width: 100%;
  will-change: opacity;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 40em) {
  .header__menu {
    height: calc(100vh - 116px);
  }
}
.header__menu li {
  display: inline-block;
}
.header__menu li a {
  display: block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 100%;
  padding: 2rem 0;
  position: relative;
}
.header__links {
  display: grid;
  grid-auto-flow: column;
  grid-column: 4/10;
  justify-self: center;
}
.header__links li a {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding-bottom: 1rem;
  transition: border-bottom 0.1s ease-in-out;
  font-size: 16px;
  font-size: 1.6rem;
}
.header__links li a.active, .header__links li a:hover, .header__links li a:focus {
  border-bottom: 2px solid black;
}
.header__links li:not(:last-of-type) {
  margin-right: 7rem;
}
@media (min-width: 87.5em) {
  .header__links li:not(:last-of-type) {
    margin-right: 9rem;
  }
}
.header.open .header__menu {
  pointer-events: all;
}
.header.open .header__toggle > span {
  background-color: transparent;
}
.header.open .header__toggle > span::before {
  transform: rotate(45deg);
  top: 0;
}
.header.open .header__toggle > span::after {
  transform: rotate(-45deg);
  top: 0;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

body {
  background: #f7f7f7;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/bg-new.png?cfe76e7a674a1adbc4e989bc1bade540);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(40, 35, 31, 0.8);
}
.hero__content {
  color: #f7f7f7;
  z-index: 1;
  text-align: center;
}
.hero__content > * {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .hero__content > * {
    grid-column: 2/12;
  }
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero__title {
  max-width: 32ch;
}
.hero__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  color: #070707;
}
.menu__title {
  margin-bottom: 2rem;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  max-width: 250px;
}

.about {
  color: #000;
  align-items: center;
}
.about__content {
  grid-column-end: span 4;
}
@media (min-width: 40em) {
  .about__content {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}
@media (min-width: 64em) {
  .about__content {
    grid-column-end: 7;
  }
}
@media (max-width: 63.9375em) {
  .about__content {
    margin-bottom: 4rem;
  }
  .about__content h2 {
    text-align: center;
  }
}
@media (max-width: 39.9375em) {
  .about__content {
    margin-bottom: 3rem;
  }
}
.about figure {
  grid-column: 1/-1;
}
@media (min-width: 40em) {
  .about figure {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .about figure {
    grid-column: 8/12;
    max-height: 550px;
    overflow: hidden;
  }
}
.about figure img {
  width: 100%;
  height: auto;
}

.gallery {
  background-color: #0d0d0d;
}
.gallery__wrapper {
  text-align: center;
  color: #f7f7f7;
}
@media (max-width: 63.9375em) {
  .gallery__wrapper > h3 {
    max-width: 20ch;
  }
}
.gallery__wrapper > * {
  justify-self: center;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .gallery__wrapper > * {
    grid-column: 2/12;
  }
}
.gallery__images {
  margin: 6rem 0;
  grid-column-end: span 4;
  background: #474646;
  width: 100%;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(14, 5vw);
}
.gallery__images .large {
  grid-row: span 4;
}
@media (max-width: 63.9375em) {
  .gallery__images .large {
    grid-row: span 5;
  }
  .gallery__images .large:nth-of-type(2) {
    grid-row: 3/8;
  }
  .gallery__images .large:nth-of-type(3) {
    grid-column: 2/3;
  }
}
.gallery__images .thin {
  grid-row: span 2;
}
@media (max-width: 63.9375em) {
  .gallery__images .thin:nth-of-type(3) {
    grid-column: 2/3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  .gallery__images .thin:nth-of-type(7) {
    grid-column: 1/2;
    grid-row-start: 8;
    grid-row-end: 10;
  }
}
.gallery__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 40em) {
  .gallery__images {
    grid-column-start: 2;
    grid-column-end: span 10;
  }
}
@media (min-width: 64em) {
  .gallery__images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 5vw);
  }
}

.more {
  padding-bottom: unset;
}
.more__heading {
  text-align: center;
}
.more__heading, .more__description {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .more__heading, .more__description {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .more__heading, .more__description {
    grid-column: 4/11;
  }
}
@media (min-width: 64em) {
  .more__description {
    margin-bottom: 6rem;
  }
}
@media (min-width: 40em) {
  .more > h2,
.more > p {
    text-align: center;
  }
}
.more > figure {
  grid-column: 1/5;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.more > figure img {
  width: 100%;
  height: auto;
}
@media (min-width: 40em) {
  .more > figure {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .more > figure {
    grid-column: 2/7;
  }
}
.more__content {
  grid-column: 1/5;
  margin-bottom: 3rem;
}
.more__content h3 {
  margin-bottom: 2.4rem;
}
@media (min-width: 64em) {
  .more__content h3 {
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 40em) {
  .more__content {
    grid-column: 2/12;
    margin-bottom: 4rem;
  }
}
@media (min-width: 64em) {
  .more__content {
    grid-column: 8/12;
    align-self: center;
    margin-bottom: unset;
  }
}
.more__divider {
  height: 30px;
  width: 100%;
  background-image: url(../images/divider.svg?30b361c47369924a4e20c9f45d585500);
  background-repeat: no-repeat;
  background-position: center;
  margin: 4rem 0;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .more__divider {
    margin: 6rem 0;
    grid-column: 2/12;
  }
}

.events {
  padding-top: 6rem;
}
@media (min-width: 40em) {
  .events {
    padding-top: 8rem;
  }
}
@media (min-width: 64em) {
  .events {
    padding-top: 13rem;
  }
}
.events__sticky {
  grid-column: 1/5;
  text-align: center;
  margin-bottom: 6rem;
}
@media (min-width: 40em) {
  .events__sticky {
    grid-column: 4/10;
    margin-bottom: 8rem;
  }
}
@media (min-width: 64em) {
  .events__sticky {
    text-align: start;
    grid-column: 2/4;
    margin-bottom: unset;
    padding-top: 3rem;
  }
}
.events__sticky h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 35vh;
  margin-bottom: unset;
}
@media (min-width: 64em) {
  .events__sticky h3 {
    max-width: 16ch;
  }
}
.events__col1, .events__col2 {
  text-align: center;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .events__col1, .events__col2 {
    grid-column: 2/12;
  }
}
.events__col1 {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
}
@media (max-width: 63.9375em) {
  .events__col1 {
    margin-bottom: 8rem;
    row-gap: 8rem;
  }
}
@media (max-width: 39.9375em) {
  .events__col1 {
    margin-bottom: 6rem;
    row-gap: 6rem;
  }
}
@media (min-width: 64em) {
  .events__col1 {
    grid-column: 5/8;
  }
}
.events__col2 {
  align-self: center;
}
@media (min-width: 64em) {
  .events__col2 {
    grid-column: 9/12;
  }
}
.events figure {
  margin-bottom: 3rem;
}
.events figure img {
  width: 100%;
  height: auto;
}
.events h4 {
  margin-bottom: 1.4rem;
}
@media (min-width: 64em) {
  .events h4 {
    margin-bottom: 1.6rem;
  }
}

.footer {
  background: moccasin;
}
.footer h3 {
  margin-bottom: 1.6rem;
}
.footer__col1, .footer__col2, .footer__col3 {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .footer__col1, .footer__col2, .footer__col3 {
    grid-column: 2/12;
  }
}
@media (max-width: 63.9375em) {
  .footer__col1, .footer__col2, .footer__col3 {
    margin-bottom: 6rem;
  }
}
@media (min-width: 64em) {
  .footer__col1 {
    grid-column: 2/5;
  }
}
.footer__col1 p:last-of-type {
  margin-top: 1.6rem;
}
@media (min-width: 64em) {
  .footer__col2 {
    grid-column: 6/8;
  }
}
@media (min-width: 64em) {
  .footer__col3 {
    grid-column: 9/11;
  }
}
.footer__links li a {
  color: #1d1816;
  text-decoration: none;
}
.footer__long {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .footer__long {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .footer__long {
    margin-top: 6rem;
  }
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
@media (min-width: 64em) {
  .notfound {
    flex-direction: row;
    justify-content: space-between;
  }
}
.notfound__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}
.notfound__content > *:last-child {
  margin-top: 1rem;
}
.notfound__content h1 {
  color: #f7f7f7;
}
