html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Calibre";
  font-style: normal;
  font-display: swap;
  /* Read next point */
  unicode-range: U+000-5FF;
  /* Download only latin glyphs */
  src: local("Calibre", "Roboto", Helvetica, Arial, sans-serif), url(../fonts/CalibreBold.woff?1ff2e8461fe767ef7552b41a151a985c) format("woff"), url(../fonts/CalibreBold.woff2?737fcaccf0c2fadb8f7b75d52304d4fb) format("woff2"), url(../fonts/CalibreBlack.woff?bf11ec867251d1b5bb587564df4ac38c) format("woff"), url(../fonts/CalibreBlack.woff2?7e3cf9687a4c02f562d6be100b768f5a) format("woff2");
}
@-ms-viewport {
  orientation: portrait;
}
@-o-viewport {
  orientation: portrait;
}
@viewport {
  orientation: portrait;
}
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  font-size: 1rem;
}

p,
.footer__links a,
.footer__col2 a,
.find-us__contact a {
  line-height: 24px;
  font-size: 16px;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Calibre", "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 42px;
  font-size: 4.2rem;
  text-transform: uppercase;
  line-height: 44px;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 1.6rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 80px;
    font-size: 8rem;
    line-height: 68px;
  }
}

h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 36px;
  margin-bottom: 1.6rem;
}
@media (min-width: 40em) {
  h2 {
    line-height: 52px;
  }
}
@media (min-width: 64em) {
  h2 {
    font-size: 42px;
    font-size: 4.2rem;
  }
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 28px;
  margin-bottom: 1.2rem;
}
@media (min-width: 64em) {
  h3 {
    font-size: 34px;
    font-size: 3.4rem;
    line-height: 44px;
  }
}

h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 24px;
  margin-bottom: 1.6rem;
}
@media (min-width: 64em) {
  h4 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
  }
}

span {
  color: #d3a075;
}

.gridlayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  grid-auto-flow: row;
}
@media (min-width: 40em) {
  .gridlayout {
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
  }
}

.container {
  margin: 0 auto;
}
@media (min-width: 40em) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 64em) {
  .container {
    max-width: 1392px;
  }
}
.container--px {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.container--py {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
@media (min-width: 40em) {
  .container--py {
    padding-top: 13rem;
    padding-bottom: 13rem;
  }
}

.btn {
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  outline: none;
  will-change: background color;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  font-size: 1.6rem;
  justify-self: center;
}
.btn--secondary {
  color: #8ab4f8;
  background: transparent;
  border: none;
  border-radius: 4px;
}
.btn--secondary span {
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(../images/arrow.svg?aabf025c447e8363167969608fc66cde);
  background-repeat: no-repeat;
  background-size: 95%;
  display: inline-block;
  background-position: center right;
  display: inline-block;
  vertical-align: middle;
}
.btn--secondary:hover {
  color: whitesmoke;
  background: rgba(66, 63, 63, 0.8);
}

.dark-section {
  background-color: #1d1816;
  color: whitesmoke;
}

@-webkit-keyframes arrow-down {
  0% {
    transform: translate(0, -4px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 22px);
  }
  100% {
    transform: translate(0, 24px);
    opacity: 0;
  }
}

@keyframes arrow-down {
  0% {
    transform: translate(0, -4px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 22px);
  }
  100% {
    transform: translate(0, 24px);
    opacity: 0;
  }
}
@-webkit-keyframes closeVideo {
  0% {
    height: 500px;
  }
  50% {
    height: 5px;
    width: 900px;
  }
  60% {
    height: 5px;
    width: 900px;
  }
  to {
    width: 0;
    height: 5px;
  }
}
@keyframes closeVideo {
  0% {
    height: 500px;
  }
  50% {
    height: 5px;
    width: 900px;
  }
  60% {
    height: 5px;
    width: 900px;
  }
  to {
    width: 0;
    height: 5px;
  }
}
@-webkit-keyframes closeVideoTablet {
  0% {
    height: 400px;
  }
  50% {
    height: 5px;
    width: 90%;
  }
  60% {
    height: 5px;
    width: 90%;
  }
  to {
    width: 0;
    height: 5px;
  }
}
@keyframes closeVideoTablet {
  0% {
    height: 400px;
  }
  50% {
    height: 5px;
    width: 90%;
  }
  60% {
    height: 5px;
    width: 90%;
  }
  to {
    width: 0;
    height: 5px;
  }
}
@-webkit-keyframes closeVideoTlf {
  0% {
    height: 300px;
  }
  50% {
    height: 5px;
    width: 90%;
  }
  60% {
    height: 5px;
    width: 90%;
  }
  to {
    width: 0;
    height: 5px;
  }
}
@keyframes closeVideoTlf {
  0% {
    height: 300px;
  }
  50% {
    height: 5px;
    width: 90%;
  }
  60% {
    height: 5px;
    width: 90%;
  }
  to {
    width: 0;
    height: 5px;
  }
}
.nav-open,
.nav-open-observer {
  background: rgba(41, 36, 32, 0.98);
}

.video-modal {
  position: fixed;
  width: 0;
  height: 300px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  z-index: 20;
  transition: all 0.2s ease;
  visibility: hidden;
  overflow: hidden;
}
@media (min-width: 40em) {
  .video-modal {
    height: 400px;
  }
}
@media (min-width: 40em) {
  .video-modal {
    height: 500px;
  }
}
.video-modal iframe {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.modal-visible {
  visibility: visible;
  width: 90%;
}
@media (min-width: 64em) {
  .modal-visible {
    width: 900px;
  }
}

.video-overlay {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 11;
  left: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.overlay-visible {
  visibility: visible;
  opacity: 1;
}

.video-close {
  background: whitesmoke;
  -webkit-animation: closeVideoTlf 0.5s forwards;
          animation: closeVideoTlf 0.5s forwards;
}
@media (min-width: 40em) {
  .video-close {
    -webkit-animation: closeVideoTablet 0.5s forwards;
            animation: closeVideoTablet 0.5s forwards;
  }
}
@media (min-width: 64em) {
  .video-close {
    -webkit-animation: closeVideo 0.5s forwards;
            animation: closeVideo 0.5s forwards;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  will-change: background;
  z-index: 10;
}
@media (min-width: 64em) {
  .header {
    position: absolute;
  }
}
.header__wrapper {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .header__wrapper {
    grid-column: 2/12;
  }
}
.header nav {
  transition: all 0.2s ease-in-out;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 64em) {
  .header nav {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
.header__logo {
  grid-column: 1/2;
  display: block;
  width: 160px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/analog-icon.svg?6077bdeed4fa8bf393e7d371dcbab85f);
}
@media (min-width: 40em) {
  .header__logo {
    grid-column: 2/4;
  }
}
@media (min-width: 64em) {
  .header__logo {
    width: 142px;
    height: 44px;
  }
}
.header__some {
  display: flex;
  grid-column: 10/12;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-self: end;
}
@media (min-width: 87.5em) {
  .header__some {
    grid-column: 11/12;
    -moz-column-gap: unset;
         column-gap: unset;
    justify-content: space-between;
    justify-self: unset;
  }
}
.header__some a {
  display: block;
  width: 30px;
  height: 30px;
  opacity: 0.9;
}
@media (min-width: 87.5em) {
  .header__some a {
    padding: unset;
  }
}
.header__some img {
  width: 100%;
  height: auto;
  display: block;
}
.header__some .some-icon {
  width: 100%;
  height: auto;
}
.header__some .some-icon path {
  will-change: fill;
  fill: whitesmoke;
  transition: all 0.1s ease-in-out;
}
.header__some .some-icon:hover path {
  fill: #d3a075;
}
.header__toggle {
  grid-column: 4/5;
  display: grid;
  place-content: center;
  height: 24px;
  justify-content: end;
  align-items: center;
  justify-self: end;
}
@media (min-width: 40em) {
  .header__toggle {
    grid-column: 10/12;
  }
}
.header__toggle span,
.header__toggle > span::before,
.header__toggle > span::after {
  display: block;
  width: 26px;
  height: 3px;
  background-color: whitesmoke;
  transition: all 0.2 ease-in-out;
}
.header__toggle span {
  position: relative;
  will-change: opacity;
}
.header__toggle span::before, .header__toggle span::after {
  content: "";
  position: absolute;
  will-change: transform;
}
.header__toggle span::before {
  top: -8px;
}
.header__toggle span::after {
  top: 8px;
}
.header__menuwrapper {
  height: calc(100vh - 80px);
  background: -moz-linear-gradient(top, rgba(41, 36, 32, 0.98), #0a0908);
  position: absolute;
  width: 100%;
  will-change: opacity;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  padding-top: 4rem;
}
@media (min-width: 40em) {
  .header__menuwrapper {
    height: calc(100vh - 116px);
    padding-top: 8rem;
  }
}
.header__somemenu {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 6rem auto 0 auto;
}
.header__somemenu a {
  display: block;
  padding: 1rem;
}
.header__somemenu a img {
  width: 35px;
  height: auto;
}
.header__menu {
  display: grid;
  align-content: start;
}
.header__menu li {
  text-align: center;
}
.header__menu li a {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  text-decoration: none;
  margin: 1.4rem 0;
  padding: 1rem;
  position: relative;
}
.header__links {
  display: grid;
  grid-auto-flow: column;
  grid-column: 4/10;
  justify-self: center;
}
.header__links li a {
  text-decoration: none;
  padding-bottom: 1rem;
  transition: border-bottom 0.1s ease-in-out;
  font-size: 16px;
  font-size: 1.6rem;
}
.header__links li:not(:last-of-type) {
  margin-right: 7rem;
}
@media (min-width: 87.5em) {
  .header__links li:not(:last-of-type) {
    margin-right: 9rem;
  }
}
.header.open .header__menuwrapper {
  pointer-events: all;
}
.header.open .header__toggle > span {
  background-color: transparent;
}
.header.open .header__toggle > span::before {
  transform: rotate(45deg);
  top: 0;
}
.header.open .header__toggle > span::after {
  transform: rotate(-45deg);
  top: 0;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.menu-item a {
  color: whitesmoke;
}

.current-menu-item a {
  color: #d3a075;
  font-weight: bold;
}

@media (min-width: 64em) {
  .menu-item a {
    border-bottom: 2px solid transparent;
  }
  .menu-item a .active, .menu-item a:hover, .menu-item a:focus {
    border-bottom: 2px solid #d3a075;
    color: #d3a075;
  }

  .current_page_item a {
    border-bottom: 2px solid #d3a075;
  }
}
.current_page_item a {
  color: #d3a075;
  font-weight: bold;
}

@supports ((background-image: -webkit-image-set(url("../images/Analog-background-image-680w.avif") 1x, url("../images/Analog-background-image-680w.webp") 1x)) or (background-image: image-set(url("../images/Analog-background-image-680w.avif") 1x, url("../images/Analog-background-image-680w.webp") 1x))) {
  .hero {
    background-image: -webkit-image-set(url(../images/Analog-background-image-680w.avif?af0c6ec0dc6bb2ac2f47c8c35c513635) 1x, url(../images/Analog-background-image-680w.webp?11575467f638fd901237b7d21d91570d) 1x);
    background-image: image-set(url(../images/Analog-background-image-680w.avif?af0c6ec0dc6bb2ac2f47c8c35c513635) 1x, url(../images/Analog-background-image-680w.webp?11575467f638fd901237b7d21d91570d) 1x);
  }
  @media (min-width: 64em) {
    .hero {
      background-image: -webkit-image-set(url(../images/Analog-background-image-1920w.avif?10b1ae5f188187a18e54531cadc86065) 1x, url(../images/Analog-background-image-1920w.webp?958f09ae33a3b33f9c9a1fa5b0a4fa7d) 1x);
      background-image: image-set(url(../images/Analog-background-image-1920w.avif?10b1ae5f188187a18e54531cadc86065) 1x, url(../images/Analog-background-image-1920w.webp?958f09ae33a3b33f9c9a1fa5b0a4fa7d) 1x);
    }
  }
}
@supports not ((background-image: -webkit-image-set(url("../images/Analog-background-image-680w.avif") 1x, url("../images/Analog-background-image-680w.webp") 1x)) or (background-image: image-set(url("../images/Analog-background-image-680w.avif") 1x, url("../images/Analog-background-image-680w.webp") 1x))) {
  .hero {
    background-image: url(../images/Analog-background-image-680w.jpeg?46f40379e072e31d579a0785636893d1);
  }
  @media (min-width: 64em) {
    .hero {
      background-image: url(../images/Analog-background-image-1920w.jpeg?d0df6b9d021948edbf15fabbca3a8114);
    }
  }
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@supports ((max-height: -webkit-fill-available) or (max-height: -moz-available) or (max-height: fill-available)) {
  .hero {
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: fill-available;
  }
}
.hero::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(37, 22, 14, 0.74);
}
.hero--menu {
  height: 70vh;
}
.hero__content {
  color: whitesmoke;
  z-index: 0;
  text-align: center;
}
.hero__content > * {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .hero__content > * {
    grid-column: 2/12;
  }
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.hero__title {
  max-width: 21ch;
}
.hero__indicator {
  position: absolute;
  display: block;
  content: "";
  width: 32px;
  height: 58px;
  bottom: 10vh;
}
.hero__indicator path {
  -webkit-animation: arrow-down 1.3s ease-in-out infinite;
          animation: arrow-down 1.3s ease-in-out infinite;
}

.assortment > * {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .assortment > * {
    grid-column: 2/12;
  }
}
.assortment__content {
  align-self: center;
  margin-bottom: 3rem;
}
@media (min-width: 40em) {
  .assortment__content {
    margin-bottom: 4rem;
  }
}
@media (min-width: 64em) {
  .assortment__content {
    grid-column: 2/7;
    margin-bottom: unset;
  }
}
.assortment__illustration {
  background: lightsalmon;
  height: 400px;
}
@media (min-width: 64em) {
  .assortment__illustration {
    grid-column: 9/12;
  }
}

.about {
  color: #000;
  align-items: center;
}
.about__content {
  grid-column-end: span 4;
}
@media (min-width: 40em) {
  .about__content {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}
@media (min-width: 64em) {
  .about__content {
    grid-column-end: 7;
  }
}
@media (max-width: 63.9375em) {
  .about__content {
    margin-bottom: 4rem;
  }
  .about__content h2 {
    text-align: center;
  }
}
@media (max-width: 39.9375em) {
  .about__content {
    margin-bottom: 3rem;
  }
}
.about figure {
  grid-column: 1/-1;
}
@media (min-width: 40em) {
  .about figure {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .about figure {
    grid-column: 8/12;
    max-height: 550px;
    overflow: hidden;
  }
}
.about figure img {
  width: 100%;
  height: auto;
}

.gallery__wrapper {
  text-align: center;
}
@media (max-width: 63.9375em) {
  .gallery__wrapper > h3 {
    max-width: 20ch;
  }
}
.gallery__wrapper > * {
  justify-self: center;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .gallery__wrapper > * {
    grid-column: 2/12;
  }
}
.gallery__images {
  margin: 6rem 0;
  grid-column-end: span 4;
  width: 100%;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(14, 5vw);
}
.gallery__images .large {
  grid-row: span 4;
}
@media (max-width: 63.9375em) {
  .gallery__images .large {
    grid-row: span 5;
  }
  .gallery__images .large:nth-of-type(2) {
    grid-row: 3/8;
  }
  .gallery__images .large:nth-of-type(3) {
    grid-column: 2/3;
  }
}
.gallery__images .thin {
  grid-row: span 2;
}
@media (max-width: 63.9375em) {
  .gallery__images .thin:nth-of-type(3) {
    grid-column: 2/3;
    grid-row-start: 6;
    grid-row-end: 8;
  }
  .gallery__images .thin:nth-of-type(7) {
    grid-column: 1/2;
    grid-row-start: 8;
    grid-row-end: 10;
  }
}
.gallery__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 40em) {
  .gallery__images {
    grid-column-start: 2;
    grid-column-end: span 10;
  }
}
@media (min-width: 64em) {
  .gallery__images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 5vw);
  }
}

.more {
  position: relative;
  padding-bottom: unset;
}
.more__heading {
  text-align: center;
}
.more__heading, .more__description {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .more__heading, .more__description {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .more__description {
    margin-bottom: 6rem;
    grid-column: 4/10;
  }
}
@media (min-width: 40em) {
  .more > h2,
.more > p {
    text-align: center;
  }
}
.more > figure {
  position: relative;
  grid-column: 1/5;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.more > figure::before {
  width: 80px;
  height: 80px;
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  cursor: pointer;
}
@media (max-width: 63.9375em) {
  .more > figure::before {
    width: 50px;
    height: 50px;
  }
}
.more > figure picture::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.333);
  cursor: pointer;
}
.more > figure img {
  width: 100%;
  height: auto;
}
@media (min-width: 40em) {
  .more > figure {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .more > figure {
    grid-column: 2/7;
  }
}
.more__content {
  grid-column: 1/5;
  margin-bottom: 3rem;
}
@media (max-width: 63.9375em) {
  .more__content {
    text-align: center;
    margin-bottom: 2.4rem;
  }
}
@media (min-width: 40em) {
  .more__content {
    grid-column: 2/12;
    margin-bottom: 4rem;
  }
}
@media (min-width: 64em) {
  .more__content {
    grid-column: 8/12;
    align-self: center;
    margin-bottom: unset;
  }
  .more__content h3 {
    margin-bottom: 1.6rem;
  }
}
.more__divider {
  height: 30px;
  width: 100%;
  background-image: url(../images/divider.svg?30b361c47369924a4e20c9f45d585500);
  background-repeat: no-repeat;
  background-position: center;
  margin: 4rem 0;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .more__divider {
    margin: 6rem 0;
    grid-column: 2/12;
  }
}

.events {
  padding-top: 6rem;
}
@media (min-width: 40em) {
  .events {
    padding-top: 8rem;
  }
}
@media (min-width: 64em) {
  .events {
    padding-top: 13rem;
  }
}
.events__sticky {
  grid-column: 1/5;
  text-align: center;
  margin-bottom: 6rem;
}
@media (min-width: 40em) {
  .events__sticky {
    grid-column: 4/10;
    margin-bottom: 8rem;
  }
}
@media (min-width: 64em) {
  .events__sticky {
    text-align: start;
    grid-column: 2/4;
    margin-bottom: unset;
    padding-top: 3rem;
  }
}
.events__sticky h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 35vh;
  margin-bottom: unset;
}
@media (min-width: 64em) {
  .events__sticky h3 {
    max-width: 16ch;
  }
}
.events__col1, .events__col2 {
  text-align: center;
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .events__col1, .events__col2 {
    grid-column: 2/12;
  }
}
.events__col1 {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
}
@media (max-width: 63.9375em) {
  .events__col1 {
    margin-bottom: 8rem;
    row-gap: 8rem;
  }
}
@media (max-width: 39.9375em) {
  .events__col1 {
    margin-bottom: 6rem;
    row-gap: 6rem;
  }
}
@media (min-width: 64em) {
  .events__col1 {
    grid-column: 5/8;
  }
}
.events__col2 {
  align-self: center;
}
@media (min-width: 64em) {
  .events__col2 {
    grid-column: 9/12;
  }
}
.events figure {
  margin-bottom: 3rem;
}
.events figure img {
  width: 100%;
  height: auto;
}
.events h4 {
  margin-bottom: 1.4rem;
}
@media (min-width: 64em) {
  .events h4 {
    margin-bottom: 1.6rem;
  }
}

@supports ((background-image: -webkit-image-set(url("../images/Analog-footer-background-680w.avif") 1x, url("../images/Analog-footer-background-680w.webp") 1x)) or (background-image: image-set(url("../images/Analog-footer-background-680w.avif") 1x, url("../images/Analog-footer-background-680w.webp") 1x))) {
  .footer {
    background-image: -webkit-image-set(url(../images/Analog-footer-background-680w.avif?9a9ef96a4d3037265753c77ab060ce32) 1x, url(../images/Analog-footer-background-680w.webp?26c52ec9a7fd8af426ddef2bfb3cf698) 1x);
    background-image: image-set(url(../images/Analog-footer-background-680w.avif?9a9ef96a4d3037265753c77ab060ce32) 1x, url(../images/Analog-footer-background-680w.webp?26c52ec9a7fd8af426ddef2bfb3cf698) 1x);
  }
}
@supports not ((background-image: -webkit-image-set(url("../images/Analog-footer-background-680w.avif") 1x, url("../images/Analog-footer-background-680w.webp") 1x)) or (background-image: image-set(url("../images/Analog-footer-background-680w.avif") 1x, url("../images/Analog-footer-background-680w.webp") 1x))) {
  .footer {
    background-image: url(../images/Analog-footer-background-680w.jpeg?e95d02b215260314002e01ccff1fe0f7);
  }
}
.footer {
  background-size: 300px;
  background-repeat: repeat;
}
.footer a {
  display: block;
  color: #1d1917;
  text-decoration: none;
}
.footer h3 {
  margin-bottom: 1.6rem;
}
.footer__col1, .footer__col2, .footer__col3 {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .footer__col1, .footer__col2, .footer__col3 {
    grid-column: 2/12;
  }
}
@media (max-width: 63.9375em) {
  .footer__col1, .footer__col2, .footer__col3 {
    margin-bottom: 6rem;
  }
}
.footer__col1 {
  grid-column: 1/5;
}
.footer__col1 div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__col1 div p:last-child {
  padding-right: 2.8rem;
}
@media (min-width: 40em) {
  .footer__col1 {
    grid-column: 2/8;
  }
}
@media (min-width: 64em) {
  .footer__col1 {
    grid-column: 2/5;
  }
}
.footer__col1 p:nth-child(5) {
  margin-top: 1.6rem;
}
@media (min-width: 64em) {
  .footer__col2 {
    grid-column: 6/8;
  }
}
.footer__col2 a {
  margin-top: 1.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer__col2 a::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background-size: 30px 30px;
  background-position: center;
  height: 30px;
  width: 30px;
  margin-right: 2rem;
}
.footer__col2 a:first-of-type::before {
  background-image: url(../images/facebook-dark.svg?4c8b09668f485753ac9fb19f995a1ac3);
}
.footer__col2 a:last-of-type::before {
  background-image: url(../images/instagram-icon-dark.svg?6afd5fae6f69af208c43df8961fc4716);
}
.footer__col2 a:hover {
  text-decoration: underline;
}
@media (min-width: 64em) {
  .footer__col3 {
    grid-column: 9/11;
  }
}
.footer__col3 a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.footer__col3 a:hover {
  text-decoration: underline;
}
.footer__long {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .footer__long {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .footer__long {
    margin-top: 6rem;
  }
}

.menu > * {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .menu > * {
    grid-column: 2/12;
  }
}
.menu h2 {
  margin-bottom: 3rem;
}
@media (min-width: 40em) {
  .menu h2 {
    margin-bottom: 4rem;
  }
}
@media (max-width: 63.9375em) {
  .menu h2 {
    text-align: center;
  }
}
.menu__titlerow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.menu__titlerow figure {
  display: block;
  background: lightskyblue;
  width: 50px;
  height: auto;
}
@media (min-width: 40em) {
  .menu__section {
    grid-column: 2/9;
  }
}
@media (min-width: 64em) {
  .menu__section {
    grid-column: 2/6;
  }
  .menu__section:nth-of-type(3) {
    grid-column: 8/12;
  }
}
.menu__section:not(:last-child) {
  margin-bottom: 6rem;
}
@media (min-width: 64em) {
  .menu__section:not(:last-child) {
    margin-bottom: 8rem;
  }
}
.menu__row {
  display: flex;
  justify-content: space-between;
}

.find-us {
  align-items: center;
}
.find-us > * {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .find-us > * {
    grid-column: 2/12;
  }
}
@media (min-width: 64em) {
  .find-us__content {
    grid-column: 2/7;
  }
}
@media (max-width: 63.9375em) {
  .find-us__content h2 {
    text-align: center;
  }
}
.find-us__contact {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
@media (min-width: 40em) {
  .find-us__contact {
    justify-self: center;
    margin-top: 6rem;
  }
}
@media (min-width: 64em) {
  .find-us__contact {
    grid-column: 9/12;
    margin-top: unset;
  }
}
.find-us__contact a {
  display: block;
  color: #1d1917;
  text-decoration: none;
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  background: transparent;
}
.find-us__contact a:focus, .find-us__contact a:hover {
  background: #80808012;
}
.find-us__contact a:not(:last-of-type) {
  margin-bottom: 1rem;
}
.find-us__contact a::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  background-size: 28px 28px;
  background-position: center;
  height: 28px;
  width: 28px;
  margin-right: 2rem;
}
@media (max-width: 39.9375em) {
  .find-us__contact a::before {
    background-position: left center;
  }
}
.find-us__contact a:first-of-type::before {
  background-image: url(../images/pin-icon.svg?dd7f937b82bec3c27ed2165b1be25605);
}
.find-us__contact a:nth-of-type(2)::before {
  background-image: url(../images/phone-icon.svg?4ef498f47288031a85998a4bf0671725);
}
.find-us__contact a:last-of-type::before {
  background-image: url(../images/mail-icon.svg?a1e0e9cbb4c1a1dad6cb422fafd37c0c);
}

.location > * {
  grid-column: 1/5;
}
@media (min-width: 40em) {
  .location > * {
    grid-column: 2/12;
  }
}
.location h2 {
  text-align: center;
}
@media (min-width: 40em) {
  .location p {
    text-align: center;
  }
}
@media (min-width: 64em) {
  .location p {
    grid-column: 4/10;
  }
}
.location__container {
  width: 100%;
  aspect-ratio: 4/3;
  background-color: aquamarine;
  margin: 6rem 0;
}
@media (min-width: 64em) {
  .location__container {
    aspect-ratio: 21/9;
  }
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
@media (min-width: 64em) {
  .notfound {
    flex-direction: row;
    justify-content: space-between;
  }
}
.notfound__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}
.notfound__content > *:last-child {
  margin-top: 1rem;
}
.notfound__content h1 {
  color: whitesmoke;
}
