$clr-p: hsl(0, 0%, 96%);
$clr-heading: hsl(27, 52%, 64%);
$clr-background: hsl(20, 12%, 10%);
$clr-p-dark: hsl(20, 12%, 10%);
$clr-navbg: hsl(27, 12%, 14%);
$clr-section-dark: hsl(20, 12%, 10%);
$clr-facebook: hsl(214, 89%, 52%);
$clr-facebook-dark: hsl(221, 44%, 41%);
