@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@font-face {
  font-family: "Calibre";
  font-style: normal;
  font-weight: 900;
  font-display: swap; /* Read next point */
  unicode-range: U+000-5FF; /* Download only latin glyphs */
  src: local("Calibre", "Roboto", Helvetica, Arial, sans-serif),
    url("../../fonts/CalibreBlack.woff") format("woff"),
    url("../../fonts/CalibreBlack.woff2") format("woff2");
}
$primary: "Roboto", sans-serif;
$heading: "Calibre", sans-serif;
